*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.centered{
    align-items: center
}

.center_space{
    align-items: center;
    justify-content: space-between;
}

.center_center{
    align-items: center;
    justify-content: center;
}

.top{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: white;
    width: 100%;
}

ul{
    list-style: none;
}

.logo i{
    color: blue;
}

.logo a{
    font-weight: bolder;
    color: black;
}

.link a{
    color: black;
    font-size: 12px;
    margin: 10px;
}

a{
    text-decoration: none;
}

.background_container{  
    background-color: #B4D0E7;
    padding-bottom: 100px;
}

section{
    padding-top: 50px;
}

main{
    padding-top: 50px;
}

.container{
    margin: auto;
    max-width: 60%;
}

.big_container{
    min-height: 50px;  
}

.partner .picture img{
    width: 80%;
} 

.mid_container{
    max-width: 70%;
    margin: auto;
    padding-top: 50px;
}

.text{
    width: 30%; 
}

.picture{
    width: 70%;
}

.button_blue a{
    background-color: blue;
    color: white;
    padding: 5px;
}

.button_white a{
    border: 1px solid black;
    color: black;
    padding: 5px;
    background-color: white;
}

h1{
    font-size: 63px;
    text-align: center;
}

.text p {
    margin-bottom: 20px;
}

.picture img{
    width: 90%;
}

.circle{
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.colored{
    border: 4px solid blue;
}

.simple{
    border: 1px solid black;
}

.business{
    padding-top: 40px;
}

.plan_select h2{
    padding-bottom: 40px;
}

.circle_container,.text_circle,.circle{
    display: inline-block; 
}

.circle_container{
    padding-right: 50px;
}

.line{
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid black;
}

.col{  
    width: calc(100% / 3 - 10px);
    margin: 10px 5px;
}

.col_upper{
    width: calc(100% / 3 - 10px);
   
    margin: auto;
    border: 1px solid black;
    height: 500px;
}

.row{
    height: 100px;
    width: calc(100% - 10px);
    border: 1px solid black;
    margin: 10px 5px;
}

.beginning,.info_plan,.action,.benefits{
    font-size: 12px;
    margin: 20px 0 0 10px;
}

.col div{
    margin-bottom: 20px;
}

.info{
    font-size: 10px;
    justify-content: space-between;
    margin-top: 10px;
}

.little{
    width: 100%;
}

.list{
    height: calc(100vw / 3);
    width: calc(100% / 3);
}

.row_operations{
    width: 400px;
    text-align: left;
}

.collab_pic{
    width: 50%;
    height: 50%;
}

.collab_pic img{
    width: 50%;
    filter:invert(1)
}

.description img{
    width: 40%;
    margin: 20px;
}

.description p ,.description div{
    font-size: 12px;
    font-weight: 100;
    margin: 20px;
}

#green{
    background-color: #A2D39B;
    border: 10px solid  #cef3c9;
}

.brown{
    background-color: #61082B;
}

.lightblue{
    background-color: #0093CE;
}

.lessred{
    background-color: #FF1E1C;
}

.morered{
    background-color: #b40b08;
}

.grey{
    background-color:  #B4D0E7;
}

.darkblue{
    background-color: #0D2481;
}

.yellow{
    background-color: yellow;
}

.description{  
    background-color: #F5F5F5;
    overflow-y: scroll;
}

.text_info_operations{
    text-align: center;
    margin-bottom: 20px;
}

.Faq_title{
    padding: 40px 0;
}

.faq{
    padding-bottom: 80px
}

.question{
    width: 100%;
    height: 70px;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.bottom_col li a,.language{
    color: white;
}

.language{
    padding-top: 60px;
    font-size: 10px;
    color: grey;
}

.First_bold a{
    font-weight: bolder;
    font-size: 20px;
}

.section_info_collab{
    background-color: #B4D0E7
}

.info_collab{
    padding: 20px 0 70px;
}

footer{
    background-color: black;
    min-height: 300px;
}

.bottom_col{ 
    height: 150px;
    padding: 0 10px;
    width: calc(100% / 5);
    justify-content: center;  
}



.bottom_col li {
    font-size: 10px;
    padding: 0 0 15px;
}

/* debug */


















.text_info{
    color: #61082B;
    width: 350px;
}





